build/
.DerivedData/
.DerivedDataGeneric/
DerivedData/
*.xcuserstate
xcuserdata/
.DS_Store
Vendor/idevice-build/
outputs/
*.ipa
Payload/
Tools/*.dmg
Tools/Built/
Private/
*.mobileprovision
*.provisionprofile
*.p12
*.p8
*.pem
*.mobiledevicepairing
*.locationsimbackup
RPPairing*
pairingFile.plist
NetworkTest-*
